@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.paurus-main-container {
  padding: 20px;
}

.overview {
  .paurus-overview-table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    th {
      background-color: var(--p-primary-color);
      color: white;
    }
    .paurus-paginator {
      flex-direction: row-reverse;
      .p-paginator-current {
        margin-right: auto;
        order: 2;
      }
      .p-paginator-rpp-dropdown {
        order: 1;
      }
    }
  }
}
