<div class="overview">
  <div class="flex justify-content-between align-items-center mb-2">
    <div class="flex align-items-center gap-2">
      <h2>Students overview</h2>
      <p-badge [value]="studentsCount()" badgeSize="xlarge" />
    </div>
    <div class="flex align-items-center gap-3">
      <p-button label="Add Student" icon="pi pi-plus" (click)="goToMakeNew()" />
      <p-button
        [label]="deleteSelectedLabel()"
        icon="pi pi-trash"
        severity="danger"
        (click)="confirmBulkDelete($event)"
        [disabled]="!selectedStudents().length"
      />
    </div>
  </div>

  <p-table
    #dt
    [lazy]="true"
    (onLazyLoad)="loadStudentsLazy($event)"
    [selection]="selectedStudents()"
    (selectionChange)="selectedStudents.set($event)"
    [value]="students()"
    [first]="first"
    [rows]="rows"
    [totalRecords]="studentsCount()"
    [rowsPerPageOptions]="[10,20,50,100]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [loading]="loading"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    paginatorStyleClass="paurus-paginator shadow-2 mt-4"
    tableStyleClass="paurus-overview-table mx-1 "
    paginator
    showCurrentPageReport
    rowHover
    stripedRows
  >
    <ng-template #header pTemplate="header">
      <tr class="overview-header shadow-2 border-round-lg">
        <th class="border-round-left-lg" style="width: 1rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
        <th pSortableColumn="surname">
          Surname <p-sortIcon field="surname" />
        </th>
        <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
        <th>Courses</th>
        <th class="border-round-right-lg text-right pr-4">Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-student pTemplate="body">
      <tr class="shadow-2 border-round-lg">
        <td (click)="$event.stopPropagation()" class="border-round-left-lg">
          <p-tableCheckbox [value]="student" />
        </td>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.email }}</td>
        <td>
          <div class="flex flex-wrap gap-1">
            <ng-container *ngFor="let c of student.courses">
              <p-chip [label]="c" />
            </ng-container>
          </div>
        </td>
        <td
          class="flex gap-2 border-round-right-lg justify-content-end border-none"
          (click)="$event.stopPropagation()"
        >
          <p-button icon="pi pi-pencil" outlined (click)="goToEdit(student)" />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            class="pr-2"
            outlined
            (click)="confirmDelete($event, student.id)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td class="text-center" colspan="6">
          <div class="flex flex-column gap-3 py-8">
            <i class="pi pi-times-circle" style="font-size: 2rem"></i>
            No students found
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmdialog />
<p-toast />
